<mat-card>
  <mat-card-header>{{name}}</mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>
      <img mat-card-image [src]="imageURL" />
    </div>
    <div class="product-info">{{description}}</div>
    <div class="category-info">Category: {{category}}</div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer>
    <p class="footer-content">
      <mat-icon color="primary" *ngFor="let rating of [1,2,3,4,5]">star_rate</mat-icon>
      ({{rating?.count}})
    </p>
  </mat-card-footer>
</mat-card>
