<mat-card>
  <mat-card-header>{{name}}</mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>
      <img mat-card-image [src]="imageURL" />
    </div>
    <div class="product-info">{{description}}</div>
    <div class="category-info">Category: {{category}}</div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer>
    <p class="footer-content price">$ {{price}}</p>
    <p class="footer-content">
      <span *ngIf="fullStarsArr.length > 0"><mat-icon color="primary" *ngFor="let rating of fullStarsArr">star</mat-icon></span>
      <span *ngIf="halfStarPresent"><mat-icon color="primary">star_half</mat-icon></span>
      <span *ngIf="emptyStarsArr.length > 0"><mat-icon color="primary" *ngFor="let rating of emptyStarsArr">star_border</mat-icon></span>
      ({{rating?.count}})
    </p>
  </mat-card-footer>
</mat-card>
